@model IEnumerable<ChildCare.Models.PickupPerson>

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole("Parent"))
{
    <h2>Your drivers</h2>
    <p>@Html.ActionLink("Create New", "Create")</p>
}
else
{
     <h2>Driver Information</h2>
}

<table class="table">
    <tr>
    <th>

    </th>
    <th>
        @Html.DisplayNameFor(model => model.FirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LastName)
    </th>

    <th>
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.EmailAddress)
    </th>
    @if (!User.IsInRole("Parent"))
    {
        <th>Child Name</th>
    }
    <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            <img src="~/Images/PickupPerson/@Html.DisplayFor(modelItem =>item.Photo)" style="height:100px;width:100px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        @if (User.IsInRole("Parent"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        }
        else
        {
            <td>
                @Html.DisplayFor(modelItem => item.Child.FirstName) @Html.DisplayFor(modelItem => item.Child.LastName)
            </td>
        }


    </tr>
}

</table>
