@model ChildCare.Models.Billing

@{
    ViewBag.Title = "Delete";
}

<h1>Do You Really Want To Delete Your Billing Information?</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HourlyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourlyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Model.StartTime.ToShortTimeString()
            @*@Html.DisplayFor(model => model.StartTime)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Model.EndTime.ToShortTimeString()
            @*@Html.DisplayFor(model => model.EndTime)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FederalEIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FederalEIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuiteNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuiteNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
