@model ChildCare.Models.Child

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Child Profile</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradeLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GradeLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Medications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Photo)*@
        </dt>

        <dd>
            <img src="~/Images/Child/@Html.DisplayFor(model =>model.Photo)" style="height:100px;width:100px;" />
            @*Html.DisplayFor(model => model.Photo)*@
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
