@model IEnumerable<ChildCare.Models.Child>

@{
    ViewBag.Title = "Index";
}

<p>
    @if (User.IsInRole("Parent"))
    {
        <h1>Your Children</h1>
        @Html.ActionLink("Add Child", "Create")
    }
    else
    {
        <h1>Enrollment</h1>
    }


</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.GradeLevel)
        </th>*@
        <th>
            @Html.DisplayName("Teacher")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Images/Child/@Html.DisplayFor(modelItem => item.Photo)" style="height:75px;width:75px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.GradeLevel)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medications)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @if (User.IsInRole("Employee"))
                {
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                }
                else
                {
                    <text>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Calendar", "Details", new { id = item.Id })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </text>
                }


            </td>


        </tr>
    }

</table>
